@font-face {
    font-weight: 400; 
    font-family: Helvetica;
    src: url("./fonts/Helvetica/helvetica_regular.otf");
  }
  
  @font-face {
    font-weight: 700;
    font-family: Helvetica;
    src: url("./fonts/Helvetica/helvetica_bold.otf");
  }
  
  @font-face {
    font-weight: 300;
    font-family: Helvetica;
    src: url("./fonts/Helvetica/helvetica_light.otf");
  }

body
{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: Helvetica;
    font-weight: 400;
    overflow-x: hidden;
}

a
{
    text-decoration: none;
    color: white;
}

a:hover, a:visited, a:active
{
    text-decoration: none;
    color: white;
}

.burger-menu {
    display: none;
    cursor: pointer;
}

.burger-menu-icon {
    font-size: 24px;
    color: white;
}

header
{
    width: 82%;
    height: 112px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-size: 24px;
    text-transform: uppercase;
    color: #7E7E7E;
}

header .container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .container .menu, footer .menu
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .container .menu p, footer .menu p
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 12.5px;
    margin-right: 12.5px;
}

header .container .takePartButton, footer .takePartButton
{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 12.5px;
    margin-right: 12.5px;
    background-color: #52ACFF;
    border-radius: 20px;
    color: white;
    font-weight: 700;
}

.Logo 
{
    color: black;
    font-weight: 700;
    font-size: 36px;
}

.side
{
    visibility: visible;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -375px;
    transform: rotate(-90deg);
    font-size: 60px;
    color: #AED8FF;
    text-transform: uppercase;
    bottom: 20px;
}
main
{
    height: 832px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer
{
    height: 200px;
    width: 100%;
    background-color: #2D2D2D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 24px;
}

footer .firstline, footer .secondline, footer .thirdline
{
    width: 82%;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

footer .firstline
{
    margin-top: 20px;
}

footer .Logo
{
    color: #52ACFF;
    margin-right: 100px;
}

footer .secondline
{
    color: white;
    font-weight: 300;
}

footer .secondline .menu p:first-child
{
    margin-left: 0;
}

footer .secondline
{
    color: white;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

footer .thirdline
{
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer_description
{
    font-size: 16px;
    text-transform: none;
    color: #7E7E7E;
}

.contacts
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    padding-right: 100px;
}

.contacts .socialIcon
{
    width: 32px;
    height: 32px;
    margin-left: 16px;
    margin-right: 16px;
}
a.phone
{
    text-decoration: none;
    text-transform: none;
    font-size: 24px;
    color: #52ACFF;
    margin-bottom: 8px;
}

.footer_side
{
    position: absolute;
    bottom: -125px;
    right: 120px;
    transform: rotate(90deg);
    color: white;
    font-weight: 300;
    visibility: visible;
}


.content
{
    width: 82%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.content_header
{
    font-size: 96px;
    color: #2D2D2D;
    margin-top: -80px;
}

.statements
{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.statements :nth-child(2n)
{
    margin-top: 40px;
}

.statement .number
{
    font-size: 92px;
    font-weight: 700;
    color: white; /* Цвет основного текста */
    text-shadow: 
        -2px -2px 0 #52ACFF,  
         2px -2px 0 #52ACFF,
        -2px  2px 0 #52ACFF,
         2px  2px 0 #52ACFF;
}

.statement .name
{
    font-size: 36px;
    color: #2D2D2D;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 0;
}

.statement .name_description
{
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;
}

.bigButton
{
    font-size: 36px;
    font-weight: 700;
    color: white;
    background-color: #52ACFF;
    border-radius: 50px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
    margin-top: 40px;
    box-shadow: 11px 13px 22px -5px rgba(0, 0, 0, 0.61);
}



@media (max-width: 1600px) {

    .side
    {
        visibility: hidden;
    }

    .statement .name 
    {
        font-size: 32px;
    }

    .statement .name_description
    {
        font-size: 18px;
    }

    header .container .menu p, footer .menu p
    {
        font-size: 20px;
    }

    .footer_side
    {
        transform: none;
        margin-bottom: 0;
        visibility: hidden;
    }
}

@media (max-width: 1440px) {

    .statements
    {
        flex-wrap: wrap;
        justify-content: start;
    }

    .statements .statement
    {
        width: 400px;
        margin-top: 0;
        margin: 0;
        margin-right: 40PX;
    }
    
    header
    {
        background-color: #52ACFF;
        width: 100%;
    }

    header .Logo 
    {
        margin-left: 10%;
        color: white;
    }

    header .container .takePartButton
    {
        margin-right: 100px;
        background-color: white;
        color :#52ACFF;
    }

    header .container .takePartButton a
    {
        color : #52ACFF;
        font-weight: 400;
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    header .container .menu p
    {
        color: white;
        font-size: 18px;
        width: max-content;
    }
}


@media (max-width: 1240px) {


    .statements .statement
    {
        width: 350px;
    }
    .content_header
    {
        margin-top: 80px;
    }

    .bigButton
    {
        margin-bottom: 80px;
    }

    main .content, main
    {
        height: fit-content;
    }

    header .container .takePartButton 
    {
        margin-right: 20px;
    }

    header .container
    {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .burger-menu
    {
        margin-right: 100px;
    }

    header .container .menu {
        width: 100%;
        padding: 20px;
        margin: 0;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 110px;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 3, 180, 0.9);
        padding: 10px;
    }

    header .container .menu p
    {
        width: 100%;
        color: #52ACFF;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    
    .menu.open {
        display: flex;
    }
    
    .burger-menu {
        display: block;
    }

}

@media (max-width: 960px) {

    .statements .statement
    {
        width: 280px;
    }

    .statements .statement .name
    {
        font-size: 28px;
    }

    .content_header
    {
        font-size: 82px;

    }

    a.bigButton
    {
        font-size: 32px;
    }

    footer .menu p
    {
        font-size: 16px;
    }
    
    footer .thirdline
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: max-content;
    }


    footer .secondline
    {
        
        height: max-content;
    }

    footer 
    {
        height: fit-content;
    }

    .contacts .socialIcon 
    {
        margin-left: 0px;
    }



}

@media (max-width: 775px) {

    .statements .statement
    {
        width: 80%;
    }

    .content_header
    {
        font-size: 72px;
    }

    a.bigButton
    {
        font-size: 28px;
    }

    header .takePartButton
    {
        visibility: visible;
    }

    footer .menu p
    {
        font-size: 14px;
        margin-left: 0;
    }

    footer .menu
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }



}

@media (max-width: 540px) {
    header .takePartButton
    {
        visibility: hidden;
    }
    
    footer .firstline .Logo
    {
        margin-right: 40px;
    }

}


@media (max-width: 480px) {
    header .takePartButton
    {
        visibility: hidden;
    }
    
    footer .firstline .Logo, footer .firstline .takePartButton 
    {
        margin-right: 20px;
        font-size: 24px;
    }

    a.bigButton
    {
        font-size: 22px;
    }

    a.phone
    {
        font-size: 20px;
    }

    .social
    {
        display: flex;
        flex-wrap: nowrap;
    }

}


@media (max-width: 400px) {
    
    footer .firstline .Logo, footer .firstline .takePartButton 
    {
        margin-right: 20px;
        font-size: 20px;
    }

    a.bigButton
    {
        font-size: 20px;
    }


    .content_header
    {
        font-size: 64px;
    }

}